   /*  1st id */
 #aislar{
    --border: 1px solid black;   
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;    
 }
   /*  2nd id */
 #apartar{
    --border: 1px solid black;   
    padding-top: 50px;   
 }
  /*  3rd id */
 #filter{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
 }
   /*  4th id */
 #tarjetasMargin{
   margin-top: 20px;
   margin-bottom: 20px;
   margin-right: 20px;
   margin-left: 20px;
   --outline-style: solid;  
 }
   /*  5th id */
 #tarjetasPadding{
   padding-top: 30px;
   padding-bottom: 30px;
   padding-right: 30px;
   padding-left: 30px;
   --outline-style: solid;  
 }

 .header{
   --border: 1px solid black;  
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-left: 80px;        
} 
 .ingredients{
   font-style: italic;
 }
 .recipe{
   padding: 20px;
   margin: 30px;
}

  /*  Responsive */
  @media (max-width: 575.98px) { 
   .display-1    {
      font-size: 80px; }
   .select-salad {
      font-size:25px
   }
   #body{
      background-color: black;
      color: white;
   }
   #filter{
      color:black;
   }
   .btndiet{
      background-color: white;
      color: black;
   }
   .vegan{
      background-color: #ffc107;
      color:white;
      }

   .vegetarian{
      background-color: #28a745;
      color:white;
      
         }
   .pescatarian{
      background-color: #17a2b8;
      color:white;
   }
   .ominvore{
      background-color: #dc3545;
      color:white;
   }
   #responsivePadding{
      padding-top: 30px;
      padding-right: 50px;
      padding-left: 50px;
      padding-bottom: 30px;      
   }
   .responsivebold{
      font-weight:bold ;
   }

}
